@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    /*background-repeat: no-repeat;*/
}

.title {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 4px 4px 4px #aaa;
}

canvas {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    /*background-repeat: no-repeat;*/
    /*position: absolute;*/
}

