@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: black !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /*background-repeat: repeat;*/
}

.title {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 4px 4px 4px #aaa;
}

canvas {
    width: 100% !important;
    height: 100% !important;
    /*background-repeat: repeat-y;*/
    /*position: absolute;*/
}

